header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    font-size: 1.5em;
}
.logo {
    flex-basis: 16%;
}

.logo img {
    width: 100%;
}

.header-nav {
    display: flex;
    gap:42px;
    color: #FF6060;
}

@media screen and (max-width: 768px) {
    header {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 576px) {
    /* body {
        background-color: pink;
    } */

    header {
        font-size: 1em;
    }

    .logo {
        flex-basis: 45%;
    }

    .header-nav {
        gap:20px;
    }
}