.Location {
    width: 30%;
    position: relative;
}

.Location:after {
    content:'';
    display:block;
    width:100%;
    height:50%;
    background:linear-gradient(to bottom, transparent, black);
    position: absolute;
    bottom: 3px;
    opacity: 0.2;
    border-radius: 10px;

  }

.Location__img {
    width: 100%;
} 

.Location__title {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 400;
    padding-left: 5%;
    width: 42%;
    font-size: 1em;
}

@media screen and (max-width: 768px) {

    .Location__title {
        width: 55%;
        font-size: 0.8em
    }

}

@media screen and (max-width: 576px) {

    .Location {
        width:100%;
        /* height:20vh; */
    }

    .Location__title {
        width: 22%;
        font-size: 0.9em;
        bottom: 7px;
    }
}