main {
    padding:0 5%;
}


.location-wrapper {
    display: flex;
    color: #FF6060;
    font-size: 0.8em;
    justify-content: space-between;
    margin-top: 2%;
}

.title {
    font-size: 1.3em;
    margin-bottom: 0.8%;
    font-weight: 500;
}

.city {
    font-size: 0.8em;
    margin:1.5% 0;
}

.hashtags {
    display: flex;
    padding:0;
    margin-top: 3%;
    font-size:0.5em;
    gap:2em;
}

.hashtags li {
    width: 18%;
    background-color: #FF6060;
    padding: 0.5% 2%;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    border-radius: 0.6em;
}

.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.host__name {
    width: 50%;
    margin: 0;
    font-size: 0.9em;
}

.host__avatar {
    width: 35px;
}

.evaluation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stars {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    gap: 0.3em;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
}

.description,
.equipment {
    width: 45%;
    background-color: #F6F6F6;
    border-radius: 0.5em;
    transition: 0.3s;
    
}


.description:hover .dropdown-bar .chevron-down {
    display: block;    
    opacity: 1;
}

.description:hover .dropdown-bar .chevron-up {
    display: none;
    opacity: 0;
}

.description:hover .content {
    display: none;
    opacity: 0;
}

.description:hover {
    background-color: transparent;
}

.equipment-list {
    font-size: 0.8em;
    color:#FF6060;
    padding:3%;
    transition: 0.3s;
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

    .location-wrapper {
        flex-direction: column;
    }

    .hashtags li {
        padding: 0.5% 1%;
    }

    .evaluation {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9em;
    }

    .host__name {
        font-size: 0.8em;
    }

    .host__avatar {
        width: 25px
    }

    .content-wrapper {
        flex-direction: column;
        gap: 2em;
    }

    .description, 
    .equipment {
        width: 100%;
    }

}