.SlideShow {
    position: relative;
    height: 300px;
    overflow: hidden;
    
}

.SlideShow__slides-wrap {
    width: 100%;
    position: relative;
    transition: 1s;
    display: flex;
}

.SlideShow__slide {
    /* position: absolute; */
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

.Slideshow__chevron-left,
.Slideshow__chevron-right {
    position: absolute;
    top:50%;
    font-size: 3em;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    
}

.Slideshow__chevron-left {
    left:2%;
}

.Slideshow__chevron-right {
    right:2%;
}

.SlideShow__pages {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    left:50%;
    bottom: 5%;
    
}


/*
ajouter css pour dynamiser les slides
*/

.Slideshow:hover .SlideShow__slide{
    transform: translate(-100%);
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}